
    <div class="col-md-12" style="background-color:white;">
		<h1 class="text-center"><%= t("formtastic.labels.company.name") %>: <%= @company.name %></h1>

    <p>
      <strong><%= t("formtastic.labels.company.contact_name") %>:</strong>
      <%= @company.contact_name %>
    </p>

    <p>
      <strong><%= t("formtastic.labels.company.contact_email") %>:</strong>
      <%= @company.contact_email %>
    </p>

    <p>
      <strong><%= t("formtastic.labels.company.location") %>:</strong>
      <%= @company.location %>
    </p>

    <p>
      <strong><%= t("formtastic.labels.company.founded_date") %>:</strong>
      <%= @company.founded_date %>
    </p>

    <p>
      <strong><%= t("formtastic.labels.company.employee_count") %>:</strong>
      <%= @company.employee_count %>
    </p>

    <p>
      <strong><%= t("formtastic.labels.company.all_tags") %>:</strong>
      <%= @company.all_tags %>
    </p>

    <p>
      <strong><%= t("formtastic.labels.company.category") %>:</strong>
      <%= Category.find(@company.category).name %>
    </p>

    <p>
      <strong><%= t("formtastic.labels.company.description") %>:</strong>
      <%= @company.description %>
    </p>
    <p>
      <strong><%= t("formtastic.labels.company.main_url") %>:</strong>
      <%= @company.main_url %>
    </p>
    <p>
      <strong><%= t("formtastic.labels.company.twitter_url") %>:</strong>
      <%= @company.twitter_url %>
    </p>
    <p>
      <strong><%= t("formtastic.labels.company.angellist_url") %>:</strong>
      <%= @company.angellist_url %>
    </p>
    <p>
      <strong><%= t("formtastic.labels.company.crunchbase_url") %>:</strong>
      <%= @company.crunchbase_url %>
    </p>
    <p>
      <strong><%= t("formtastic.labels.company.linkedin_url") %>:</strong>
      <%= @company.linkedin_url %>
    </p>
    <p>
      <strong><%= t("formtastic.labels.company.facebook_url") %>:</strong>
      <%= @company.facebook_url %>
    </p>
    <p>
      <strong><%= t("formtastic.labels.company.legalio_url") %>:</strong>
      <%= @company.legalio_url %>
    </p>
    <p>
      <strong><%= t("formtastic.labels.company.status") %>:</strong>
      <%= @company.status %>
    </p>
