<!DOCTYPE html>
<html lang="en">
<head>
	<title>Legal Tech List</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>


<%= render 'nav' %>

<div class="jumbotron" style="background-image: url('https://dl.dropboxusercontent.com/u/925640/bg.jpg'); background-size:cover;">
<div class="container-fluid">
	<div class="col-md-12">
	<h1 class="" style="color:white; text-align:center;">Legal Technology List</h1>
	<h3 class="" style="color:white;text-align:center;">A list of <span style="color:orange"><%= Company.count %></span> legal technology companies, curated by the Stanford Center for Legal Informatics.</h3>
<div class="col-md-3"></div>
	<div class="col-md-6">
<%= form_tag companies_path, :class => 'form-inline form-group', style:"padding-top:20px;", method: :get do %>
					<p>
						<%= text_field_tag :query, params[:query], class: "form-control input-lg ", placeholder: "Search for legal technology companies" %>
					<%= submit_tag "Search", name: nil, class: "btn btn-warning btn-lg" %>
					</p>
</div></div>
</div>

				
				<% end %>

</div>

<div class="container-fluid">
	<div class="col-md-6">
		<div class="panel panel-default lg-panel">
		<div class="panel-body">
			<h4>About</h4>
			<p>#LegalTechList is a list of legal technology companies, curated by the Stanford Center for Legal Informatics.</p>
			
		</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default lg-panel">
			<div class="panel-body">
				<img src="images/codex-logo.jpg" style="max-width:100%">
			</div>
		</div>
	</div>
</div>
