<!DOCTYPE html>
<html lang="en">
<head>
	<title>Legal Tech List</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>


<%= render 'nav' %>

<div class="jumbotron" style="background-color: #3B7AA3; background-size:cover;">
<div class="container-fluid">
	<div class="col-md-12">
	<h1 class="" style="color:white; text-align:center;">Legal Technology List</h1>
	<h3 class="" style="color:white;text-align:center;">A list of <%= Company.count %> legal technology companies, curated by the Stanford Center for Legal Informatics.</h3>
<div class="col-md-3"></div>
	<div class="col-md-6">
		<%= form_tag companies_path, :class => 'form-inline form-group', style:"padding-top:20px;", method: :get do %>
			<p class="flex">
				<%= text_field_tag :query, params[:query], class: "form-control input-lg", placeholder: "Search for a company" %>
				<%= submit_tag "Search", name: nil, class: "btn btn-warning btn-lg" %>
			</p>
		<% end %>
		</div>
	</div>
</div>

				
		

</div>

<div class="container-fluid">
	<div class="flex">

			<div class="panel panel-default lg-panel flex-panel">
				<div class="panel-body">
					<h5>Categories</h5>
					<% Category.all.each do |category| %>
						<%= link_to category.name, companies_path(:category => category)%></br>
					<%end%>
				</div>
			</div>


			<div class="panel panel-default lg-panel flex-panel">
				<div class="panel-body">
					<div class="tags-cloud glassy-bg">
					 	<h5> Tag Cloud </h5>
						<% tag_cloud Tag.counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
							<%= link_to tag.name, tag_path(tag.name), class: css_class %>
						<%end%>
					</div>
				</div>
			</div>

	</div>
</div>
