<%= render '/static_pages/nav' %>

<p id="notice"><%= notice %></p>

<div class="container-fluid">

<!-- Middle Container that has Picture, Funding Info, Basic Company Info, including location, 
brief description, Founding Date, Categories, Website-->
  
  <div class="row">
    <div class="col-md-9">
    <div class="panel panel-default lg-panel">
    <div class="panel-body">
    <h1><%= @company.name %></h1>
    <p><%= @company.description %></p>
    <p class="text-muted">
      <span><i class="fa fa-heart"></i></span><%= @company.location %>
      &bull;
      <%= Category.find(@company.category).name %>
    <% if SubCategory.find(@company.sub_category).name != "" %>
      - <%= SubCategory.find(@company.sub_category).name %>
    <%end%>
      &bull;
      Founded in <%= @company.founded_date %>
      &bull;
      Tags: <%= raw tag_links(@company.all_tags)%>

    </p>
    <hr>
    <p>
      
    </p>

	</p>
    <p>
      <strong>Main url:</strong>
      <a href="<%= @company.main_url %>"><%= @company.main_url %></a>
    </p>

    <p>
      <strong>Employee count:</strong>
      <%= @company.employee_count %>
    </p>

    <p>
      <strong>Twitter url:</strong>
      <a href="<%= @company.twitter_url %>"><%= @company.twitter_url %></a>
    </p>

    <p>
      <strong>Angellist url:</strong>
      <a href="<%= @company.angellist_url %>"><%= @company.angellist_url %></a>
    </p>

    <p>
      <strong>Crunchbase url:</strong>
      <a href="<%= @company.crunchbase_url %>"><%= @company.crunchbase_url %></a>
    </p>

	<p>
		<strong>Target market:</strong>
		<%= TargetClient.find(@company.target_client).name %>
	</p>
	
	<p>
		<strong>Business model:</strong>
		<%= BusinessModel.find(@company.business_model).name %>
	</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>


  </div>
</div>

  </div>

    <div class="col-md-3">
    <div class="panel panel-default lg-panel">
        <div class="panel-body">
         <div class="tags-cloud glassy-bg">
           <h4> Related companies </h4>
		   <% related_company_list @company do |related_companies| %>
		   	<% related_companies.each do |related| %>
  			  <div>
  				  <h4><a href="/companies/<%= related.id %>"><%= related.name %></a>&nbsp;</h4>
  				<p><%= related.description %></p>

  				  <span>
  				  	<%= Category.find(related.category).name %>
  					  <% if SubCategory.find(related.sub_category).name != "" %>
  					   - <%=SubCategory.find(related.sub_category).name %>
  					<%end%>
  				  </span>
  				  <span class="text-muted"> &#8226; Tagged <%= raw tag_links(related.all_tags)%> </span>


  				<hr>
  			  </div>

  		  <!-- Makes entire e class a clickable link to the company page  -->
  		  <script type="text/javascript">
  			  $(".e").click(function() {
  				window.location = $(this).find("a").attr("href"); 
  				return false;
  			  });
  		  </script>
		  <% end %>
  		  <% end %>
         </div>
         </div>
         </div>
         </div>