<%= render '/static_pages/nav' %>

<p id="notice"><%= notice %></p>

<div class="container-fluid">

<!-- Middle Container that has Picture, Funding Info, Basic Company Info, including location, 
brief description, Founding Date, Categories, Website-->
  
  <div class="row">
    <div class="col-md-9">
    <div class="panel panel-default lg-panel">
    <div class="panel-body">
    <h1><%= @company.name %></h1>
    <p><%= @company.description %></p>
    <span class="text-muted">
      <span><i class="fa fa-globe" style="margin-right:6px;"></i><a href="<%=@company.main_url%>" style="margin-right:16px;"><%=@company.main_url %></a></span>
    
      <span><i class="fa fa-map-marker" style="margin-right:6px;"></i><span style="margin-right:16px;"><%=@company.location %></span></span>
      <span><i class="fa fa-tags" style="margin-right:6px;"></i><%= raw tag_links(@company.all_tags)%></span>
    </span>

    <hr>
    <p>
    <table class="table borderless">
      <tbody>
        <tr>
          <td>Category</td>
          <td>
            <%= Category.find(@company.category).name %>
            <% if SubCategory.find(@company.sub_category).name != "" %>
            - <%= SubCategory.find(@company.sub_category).name %>
            <%end%>
          </td>
        </tr>
        <tr>
          <td>Target Market</td>
          <td><%= TargetClient.find(@company.target_client).name %></td>
        </tr>
        <tr>
          <td>Business Model</td>
          <td><%= BusinessModel.find(@company.business_model).name %></td>
        </tr>
        <tr>
          <td>Year Founded</td>
          <td><%= @company.founded_date %></td>
        </tr>
        <tr>
          <td>Number of Employees</td>
          <td><%= @company.employee_count %></td>
        </tr>

        <tr>
          <td>Twitter</td>
          <td><a href="<%= @company.twitter_url %>"><%= @company.twitter_url %></a></td>
        </tr>
        <tr>
          <td>Angellist</td>
          <td><a href="<%= @company.angellist_url %>"><%= @company.angellist_url %></a></td>
        </tr>
        <tr>
          <td>Crunchbase</td>
          <td><a href="<%= @company.crunchbase_url %>"><%= @company.crunchbase_url %></a></td>
        </tr>
      </tbody>
    </table>
 

    <hr>
    <%= link_to 'Edit', edit_company_path(@company) %> |
    <%= link_to 'Back', companies_path %>


  </div>
</div>

  </div>

    <div class="col-md-3">
    <div class="panel panel-default lg-panel">
        <div class="panel-body">
         <div class="tags-cloud glassy-bg">
           <h4> Related companies </h4>

		   <% related_company_list @company do |related_companies| %>
		   	<% related_companies.each do |related| %>
  			  <hr>
          <div>
  				  <h4><a href="/companies/<%= related.id %>"><%= related.name %></a>&nbsp;</h4>
  				<p><%= related.description %></p>

  				  <span class="text-muted"><i class="fa fa-tags" style="margin-right:6px;"></i><%= raw tag_links(related.all_tags)%> </span>


  			  </div>

  		  <!-- Makes entire e class a clickable link to the company page  -->
  		  <script type="text/javascript">
  			  $(".e").click(function() {
  				window.location = $(this).find("a").attr("href"); 
  				return false;
  			  });
  		  </script>
		  <% end %>
  		  <% end %>
         </div>
         </div>
         </div>
         </div>