<!DOCTYPE html>
<html>
<head>
  <title>Legaltechlist</title>
  <meta name="description" content="Legal Tech Business Database">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Legal Tech Base">
  <meta property="og:url" content="http://tech.law.stanford.edu">
  <meta name="language" content="us">
  <meta name="audience" content="all">
  <meta name="revisit-after" CONTENT="7 days">
  <meta name="robots" content="index,follow">
  <meta name="keywords" content="legal,tech,stanford,bay,area,database,search">

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="alternate" type="application/rss+xml" title="CodeX Legal Tech"  href="/feed?format=rss" />
  
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
</head>
<body>
  <%= render '/layouts/navmobile' %>
  <%= yield %>
  <%= render '/layouts/footer' %>
  <%= yield :javascripts %>
</body>
</html>
