<!DOCTYPE html>
<html>
<head>
  <title>Legaltechlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
</head>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render '/layouts/navmobile' %>
<%= yield %>
<%= render '/layouts/footer' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
<%= yield :javascripts %>
</body>
</html>